.itembox-row{
    margin: 10px 0px 0px 0px;
    box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.3);
    width: 73vw; 
    height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    transition: height 0.5s ease-in-out;/* 천천히 커지는 변화 */
 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 텍스트가 구역을 넘으면 ... 표시 */
.itembox-row * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.itembox-col {
    width: 73vw; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.itembox-iconbox {
    /* width: 8.75vw; */
    width:105px; 
    height: 100px;
    /*border: 4px solid #707070; */
}

.itemIcon {
    width: 50px;
    height: 50px;
    background-color: #0D6EFD;
    margin: 25px 10px;
    border-radius: 100%;
}


.itembox-content {
    width: 30.75vw;
    height: 100px;
}

.text-title {
    margin: 10px 0 0px 10px;
    font: 26px Noto Sans KR Bold;
    font-style: normal;
    color: #000000;
    /*border: 1px solid #707070; */
}
.text-repoId{ 
    margin: 16px 0 0px 10px;
    font: 16px Noto Sans KR Bold;
    line-height: 18px;
    font-style: normal;
    color: #000000;
    /*border: 1px solid #707070; */
}


/* lastupload time, value 박스 */
.itembox-time {
    width: 25.625vw;
    height: 100px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.timerbox {
    width: 180px;
    /* 크기에 따라서 vw로 바뀜 */
    height: 30px;
    background-color: #0D6EFD;
    margin: 15px 0px 0px 10px;
    border-radius: 13px;
    color: #FFFFFF;
    float: left;
}
.lastUploadValue{
    margin: 10px 0 0 46px; 
    width: 100vw;
}

.text-lastValue{
    font: 15px Noto Sans KR Bold;
    line-height: 18px;
    font-style: normal;
    color: #FFFFFF;
}




/* 그래프 박스 */
.itembox-chartbox{
    width: 25vw; /* 나중에 35w로 변경 */
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itembox-buttonbox {
    width: 5vw; 
    height: 100px;
}

/* detail박스 (button을 눌렀을 때) */
.itembox-detail{
    padding: 0px 10px;
    width: 100vw;
    height: 340px;
    border-radius: 10px; 
}

.chart{
    width: 100%;
    height: 250px; 
}
.apiBox{
    width: 100%;
    height: 100px;
}
.apiBox *{
    margin : 2px 0px; 
}

/* 650 미만으로 작아지면 그래프와 아이콘을 없애고,content와 time을 50vw로 변경. */
@media (max-width: 650px) { 
    #myChart {
        display: none;
    } 

    .itembox-cotnent {
        width:50vw;
    }

    .itembox-chartbox{
        display: none;
 
    }

    .itembox-time { 
        width: 50vw;
        height: 100px;
    }
    
    .itembox-iconbox {
        display: none; 
    }
}
