/* 
flexbox 참고!
https://heropy.blog/2018/11/24/css-flexible-box/ 
*/
body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  opacity:0.2;  
  transition: opacity 0.2s;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 폰트 설정 */

  /* 
  자바스크립트에서 opacity를 1로 바꿔주면 페이드인 효과가 나옴 
  로딩시 시간이 필요해서 넣음
  */
}

#Top {
  height: 80px;
  width: 73vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#Top-row {  
  width: 73vw;
  height: 73px;  
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 73vw; 
}

body * {
  font-family : Calibri;
}